@font-face {
  font-family: "Inter";
  src: url("./Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font supports all weights */
  font-style: normal;
  font-display: swap;
}

/* If there's also an italic variable font */
@font-face {
  font-family: "Inter";
  src: url("./Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
